
.App{
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: rgb(17, 17, 24);
    margin: 0
}

.character{
    margin: 0 auto;
    margin-bottom: 1%;
}

.character:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.item{
    max-width: '100px';
    min-height: '100px'
}

.item:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}



.gridBox{
 
    height: 100%;
    border-radius: 15px;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.452)
    
}

.characterBox{
    height: 75vh;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.452)
}

.gearButton:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
